.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px; 
  padding: 0px 10px;
  margin: 50px
}


.title a {
  color: #245cd8;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  @apply 
  my-10
  leading-5
  text-5xl
  font-sans
  text-blue-500
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.card {
  @apply
  shadow-xl
  m-6
  p-5
  border-2
  rounded-md
  border-solid
  text-center
}

.card:hover,
.card:focus,
.card:active {
  @apply
  text-blue-700
  border-blue-700
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.h5 {
  margin: 1rem;
  font-size: 1.5rem;
}

.card label {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}
.card input {
  margin: 0 0 1rem 0;
  font-size: .75rem;
  width: 250px;
}

.card p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: left;
}

.card select {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card button {
  @apply
  m-0
  rounded-md
  p-2
  bg-blue-600
  hover:bg-blue-400
  text-base
  text-white
}

.card button[disabled] {
  @apply
  m-0
  rounded-md
  p-2
  bg-blue-100
  text-base
  text-white
}

.ready  {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color:#22c55e;
}

.failed  {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ef4444;
}

 button.button {
  @apply
  mr-3
  rounded-md
  p-2
  bg-blue-600
  hover:bg-blue-400
  text-base
  text-white
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

