.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 260px; 
  font-size: 28px; 
  padding: 0px 10px;
}


.title a {
  color: #245cd8;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title2 {
  margin: 0;
  line-height: 1.15;
  font-size: 1rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, 1fr);
 grid-gap: 10px;
}

.card {
 @apply
  shadow-xl
  m-6
  p-5
  border-2
  rounded-md
  border-solid
  grid
  grid-cols-2
}

.card:hover,
.card:focus,
.card:active {
@apply
  text-blue-700
  border-blue-700
}


.embedInfo {
@apply
  shadow-xl
  m-6
  p-5
  border-2
  rounded-md
  border-solid
  text-start
  text-sm
  break-words
  w-full
  grid
  grid-cols-2
}

.videoplayer {
  @apply
  shadow-xl
  m-6
  p-5
  border-2
  rounded-md
  border-solid
  w-full
}

.cardbody {
  @apply
  shadow-xl
  m-6
  p-5
  border-2
  rounded-md
  border-solid
  text-start
}

.card h2 {
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: start
}
.url:hover {
  color:#22c55e;
  margin: 0;
}

.ready  {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color:#22c55e;
}

.failed  {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ef4444;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}